<!DOCTYPE html>
<html lang="en">
  <head>
	<meta charset="utf-8">
	<title>Kill long meetings - Measure time and cost</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="An application that measures times and costs of your meeting">
	<meta name="author" content="Jef Claes">
	
	<!--[if lt IE 9]>
	  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

	<link href="Content/css/bootstrap.css" rel="stylesheet">	
    <link href="Content/css/bootstrap-responsive.css" rel="stylesheet">
	<link href="Content/css/docs.css" rel="stylesheet">
  </head>

  <body>     
    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
	        <div class="container">	   
	            <a class="brand" href="../">Kill long meetings</a>	            
                <div class="nav-collapse collapse">
                    <ul class="nav">
                      <li>
                        <a href="http://twitter.com/JefClaes">By @@JefClaes </a>
                      </li>
                      <li>
                        <a href="http://github.com/JefClaes/KillLongMeetings">GitHub </a>
                      </li>                       
                    </ul>
                </div>
	        </div>
        </div>
    </div>

	<div class="container">

    <div class="row">
        <div class="span12 count">        
            <span data-bind="text: totalCostFormatted"></span>            
        </div>               
    </div>

     <div class="row">
        <div class="span12 count">        
            <span data-bind="text: secondsSinceStartFormatted"></span>
        </div>               
    </div>    

    <div class="row">
        <div class="span11">
            <div class="progress">
               <div class="bar" data-bind="style: { width: progress() + '%' }" id="bar"></div>
            </div>            
        </div>
        <div class="span1">
            <span data-bind="text: progressFormatted"></span>
        </div>
    </div>

    <!--
    <header class="jumbotron subhead" id="overview">
      <div class="row">
	    <div class="span6">
	      <h1>MeetingCostCounter</h1>
	      <p class="lead">A preview of changes in this swatch.</p>
	    </div>	  
      </div>     
    </header>
    -->
        
	<form class="form-horizontal well">
	    <fieldset>       
        
        <div class="row">
        <div class="span10">
            
		    <div class="control-group">
		        <label class="control-label" for="input01">Average salary ($/hour)</label>
		        <div class="controls">
			        <input type="text" class="input-small enableTooltip" id="averageSalary" 
                        data-bind="value: averageSalary" 
                        data-title="This wildly depends on where you live, which field you're in, contractor or not, etc.. A WolframAlpha search can give you an idea quickly."
                        data-placement="right"
                        maxlength="5">			                                    
		        </div>
            </div>
          
            <div class="control-group">
                <label class="control-label" for="input01">Number of persons</label>
		        <div class="controls">
			        <input type="text" class="input-small enableTooltip" id="numberOfPersons" 
                        data-bind="value: numberOfPersons" 
                        data-title="" 
                        data-placement="right"
                        maxlength="4">			                                
		        </div>
		    </div>
          
            <div class="control-group">
                <label class="control-label" for="input01">Costs ($)</label>
		        <div class="controls">
			        <input type="text" class="input-small enableTooltip" id="costs" 
                        data-bind="value: costs" 
                        data-title="Fixed costs: renting a meeting room, sandwiches, coffee.." 
                        data-placement="right"
                        maxlength="5">			                                 
		        </div>
		    </div>  
            
            <div class="control-group">
                <label class="control-label" for="input01">Max duration (minutes)</label>
		        <div class="controls">
			        <input type="text" class="input-small enableTooltip" id="maxDuration" 
                        data-bind="value: maximumDuration" 
                        data-title="In reality, the average meeting takes more than one hour. Insane right? 30 minutes should be plenty of time." 
                        data-placement="right"
                        maxlength="4">			                                 
		        </div>
		    </div>        
         
         </div>
         </div>            
          
        <div class="row">
		    <div class="span10">
		        <button type="button" class="btn btn-primary" data-bind="click: start, text: actionText">Start</button>			
                <button type="button" class="btn btn-primary" data-bind="click: reset">Reset</button>			
            </div>
        </div>      		          		                            

	    </fieldset>
	</form>           
  
            

    </div><!-- /container -->
	
	<script src="Content/scripts/jquery.min.js" type="text/javascript"></script>
	<script src="Content/scripts/bootstrap.min.js" type="text/javascript"></script>
    <script src="Content/scripts/knockout-2.1.0.js" type="text/javascript"></script>
	<script type="text/javascript">
    
	    function ViewModel() {
	        var self = this;

	        var startIntervalId = undefined;
            var cache = {
                barElem : $("#bar") 
            };

	        this.isStarted = ko.observable(false);

	        this.averageSalary = ko.observable(50);
	        this.numberOfPersons = ko.observable(7);
	        this.costs = ko.observable(10);
	        this.maximumDuration = ko.observable(30);
			
	        this.totalCost = ko.observable(0);
			this.totalCostFormatted = ko.computed(function () {
			    return self.totalCost() + "$";
			});
	        
			this.secondsSinceStart = ko.observable(0);
			this.secondsSinceStartFormatted = ko.computed(function () {
			    var hours = parseInt(self.secondsSinceStart() / 3600) % 24;
			    var minutes = parseInt(self.secondsSinceStart() / 60) % 60;
			    var seconds = self.secondsSinceStart() % 60;

			    return hours + "h " + minutes + "m " + seconds + "s";
			});

			this.actionText = ko.observable("Start");
			this.progress = ko.observable(0);
			this.progressFormatted = ko.computed(function () {
			    return self.progress() + "%";
			});
			this.progressState = ko.computed(function () {
			    var state = "success";

			    if (self.progress() > 50 && self.progress() <= 75) {
			        state = "warning";
			    } else if (self.progress() > 75) {
			        state = "danger";
			    }			    

			    return state;
			});
			this.progressState.subscribe(function (val) {
			    cache.barElem.removeClass = "bar-success bar-warning bar-danger";
			    cache.barElem.addClass("bar-" + val);
			}, this);

	        this.start = function () {
	            this.isStarted(!self.isStarted());
	            this.actionText(this.isStarted() ? "Pause" : "Continue");

	            if (!startIntervalId) {
	                startIntervalId = setInterval(function () {
	                    if (self.isStarted()) {	                       
	                        self.secondsSinceStart(self.secondsSinceStart() + 1);                       
	                    }
	                }, 1000);
	            }
	        };

	        this.secondsSinceStart.subscribe(function (val) {           
	            self._calculateTotalCost();
	            self._updateProgress();
	        }, this);

			this.reset = function () {
			    clearInterval(startIntervalId);
			    startIntervalId = undefined;

			    this.isStarted(false);
			    this._cleanProgress();
			    this.totalCost(0);
			    this.secondsSinceStart(0);
			    this.actionText("Start");
			};

			this._updateProgress = function () {
			    this.progress(Math.ceil((this.secondsSinceStart() / (this.maximumDuration() * 60)) * 100));		                                              
			};

			this._cleanProgress = function () {
			    cache.barElem.attr("style", "width: 0%");
			    cache.barElem.removeClass("bar-success bar-warning bar-danger");
			};

			this._calculateTotalCost = function () {
			    var costs = parseInt(self.costs());
			    var saleryCosts = (self.secondsSinceStart() * (self.averageSalary() / 3600)) * self.numberOfPersons();
			    var totalCost = Math.round(saleryCosts + costs);

			    self.totalCost(totalCost);
			};            
                     
	    }

	    $(function () {
	        $(".enableTooltip").tooltip();

	        var model = new ViewModel();
	        ko.applyBindings(model);	        
	    });

	</script>

  </body>
</html>
